/* fonts to use */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.container__clients, .container__team, .container__directions, .container__features {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 1600px;
    padding: 94px 215px;
  }
}

.list_social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  stroke-width: 0;
  stroke: currentColor;
}

.social_icon {
  height: 20px;
  width: 20px;
}

.container__clients, .container__team, .container__directions, .container__features {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 1600px;
    padding: 94px 215px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .clients {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .clients {
    display: flex;
  }
}

@media (min-width: 1600px) {
  .clients {
    display: flex;
  }
}

.greed__item--client {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 479px) {
  .greed__item--client {
    width: 100%;
    margin: 0px;
  }
  .greed__item--client:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .greed__item--client {
    width: calc((100% - 1 * 30px) / 2);
  }
  .greed__item--client:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .greed__item--client:nth-child(-n + 2) {
    margin-bottom: calc(30px);
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .greed__item--client {
    width: calc((100% - 2 * 30px) / 3);
    margin-bottom: 30px;
  }
  .greed__item--client:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .greed__item--client:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .greed__item--client {
    width: calc((100% - 5 * 30px) / 6);
    margin-bottom: 0px;
  }
  .greed__item--client:not(:nth-child(6n)) {
    margin-right: 30px;
  }
}

.client__link {
  border-radius: 4px;
  border: 1px solid;
  border-color: #afb1b8;
  fill: #afb1b8;
  transition-property: border-collor, fill;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.client__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin: 0 auto;
}

.client__icon {
  width: 90px;
  height: 90px;
  fill: inherit;
}

.client__label {
  display: none;
  margin: 30px auto 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.client__description {
  display: none;
  margin: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.container__clients, .container__team, .container__directions, .container__features {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 1600px;
    padding: 94px 215px;
  }
}

.team {
  background-color: #f5f4fa;
}

.greed__item--team {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .greed__item--team {
    width: 100%;
  }
  .greed__item--team:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .greed__item--team {
    width: calc((100% - 1 * 30px) / 2);
  }
  .greed__item--team:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .greed__item--team:nth-child(-n + 2) {
    margin-bottom: calc(30px);
  }
}

@media (min-width: 1600px) {
  .greed__item--team {
    width: calc((100% - 3 * 30px) / 4);
    margin-bottom: 0px;
  }
  .greed__item--team:not(:nth-child(4n)) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.team__member__socials {
  width: 100%;
  padding: 0px 30px 30px;
}

.team-social {
  fill: #afb1b8;
}

.team__member__pict {
  margin-bottom: 30px;
}

.member-name {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.member-position {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.container__clients, .container__team, .container__directions, .container__features {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 1600px;
    padding: 94px 215px;
  }
}

@media (max-width: 479px) {
  .directions {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .directions {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .directions {
    display: flex;
  }
}

@media (min-width: 1600px) {
  .directions {
    display: flex;
  }
}

.container__directions {
  padding-top: 0px;
}

.greed__item--directions {
  position: relative;
  height: 294px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.greed__item--directions:nth-child(1) {
  background-image: url(../images/studio/directions/DsktopApps.jpg);
}

.greed__item--directions:nth-child(2) {
  background-image: url(../images/studio/directions/MobileApps.jpg);
}

.greed__item--directions:nth-child(3) {
  background-image: url(../images/studio/directions/DesignSolutions.jpg);
}

@media (min-width: 480px) and (max-width: 767px) {
  .greed__item--directions {
    width: 100%;
  }
  .greed__item--directions:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .greed__item--directions {
    width: calc((100% - 2 * 30px) / 3);
    margin-bottom: 0px;
  }
  .greed__item--directions:not(:nth-child(3n)) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1600px) {
  .greed__item--directions {
    width: calc((100% - 2 * 30px) / 3);
    margin-bottom: 0px;
  }
  .greed__item--directions:not(:nth-child(3n)) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.direction__label {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.container__clients, .container__team, .container__directions, .container__features {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features {
    width: 1600px;
    padding: 94px 215px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .features {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .features {
    display: flex;
  }
}

@media (min-width: 1600px) {
  .features {
    display: flex;
  }
}

.greed__item--feature {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 480px) and (max-width: 767px) {
  .greed__item--feature {
    width: 100%;
  }
  .greed__item--feature:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .greed__item--feature {
    width: calc((100% - 1 * 30px) / 2);
  }
  .greed__item--feature:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .greed__item--feature:nth-child(-n + 2) {
    margin-bottom: calc(30px);
  }
}

@media (min-width: 1600px) {
  .greed__item--feature {
    width: calc((100% - 3 * 30px) / 4);
    margin-bottom: 0px;
  }
  .greed__item--feature:not(:nth-child(4n)) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.feature__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin: 0 auto 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__label {
  display: block;
  margin: 0 auto 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.feature__description {
  margin: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #555555;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section_title {
  margin: 0px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media (min-width: 480px) and (max-width: 767px) {
  .section_title {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .section_title {
    margin-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .section_title {
    margin-bottom: 50px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
}

.list_item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.list_item--socials:not(:last-child) {
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:visited {
  color: inherit;
}

.link:hover, .link.current {
  color: #2196f3;
}

.link_social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.link_social:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.greed {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.greed__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  outline: 1px solid red;
}
/*# sourceMappingURL=common.css.map */