/* fonts to use */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (max-width: 479px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 1600px;
    padding: 94px 215px;
  }
}

.grid--filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button__hero, .button__portfolio--filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  transition-property: box-shadow;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero:hover, .button__portfolio--filter:hover {
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.client__link, .link__header, .header__navigation__link, .link__portfolio, .link, .link_social {
  text-decoration: none;
  color: inherit;
}

.client__link:visited, .link__header:visited, .header__navigation__link:visited, .link__portfolio:visited, .link:visited, .link_social:visited {
  text-decoration: none;
  color: inherit;
}

.client__link:hover, .link__header:hover, .header__navigation__link:hover, .link__portfolio:hover, .link:hover, .link_social:hover, .current.client__link, .current.link__header, .current.header__navigation__link, .current.link__portfolio, .current.link, .current.link_social {
  text-decoration: none;
  color: #2196f3;
}

.list_social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  stroke-width: 0;
  stroke: currentColor;
}

.social_icon {
  height: 20px;
  width: 20px;
}

.container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (max-width: 479px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 1600px;
    padding: 94px 215px;
  }
}

.grid--filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button__hero, .button__portfolio--filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  transition-property: box-shadow;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero:hover, .button__portfolio--filter:hover {
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.client__link, .link__header, .header__navigation__link, .link__portfolio, .link, .link_social {
  text-decoration: none;
  color: inherit;
}

.client__link:visited, .link__header:visited, .header__navigation__link:visited, .link__portfolio:visited, .link:visited, .link_social:visited {
  text-decoration: none;
  color: inherit;
}

.client__link:hover, .link__header:hover, .header__navigation__link:hover, .link__portfolio:hover, .link:hover, .link_social:hover, .current.client__link, .current.link__header, .current.header__navigation__link, .current.link__portfolio, .current.link, .current.link_social {
  text-decoration: none;
  color: #2196f3;
}

@media (min-width: 480px) and (max-width: 767px) {
  .clients {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .clients {
    display: flex;
  }
}

@media (min-width: 1600px) {
  .clients {
    display: flex;
  }
}

.grid__item--client {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 479px) {
  .grid__item--client {
    width: 100%;
    margin: 0px;
  }
  .grid__item--client:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .grid__item--client {
    width: calc((100% - 1 * 30px) / 2);
  }
  .grid__item--client:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .grid__item--client:nth-child(-n + 4) {
    margin-bottom: calc(30px);
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .grid__item--client {
    width: calc((100% - 2 * 30px) / 3);
    margin-bottom: 30px;
  }
  .grid__item--client:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .grid__item--client:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .grid__item--client {
    width: calc((100% - 5 * 30px) / 6);
    margin-bottom: 0px;
  }
  .grid__item--client:not(:nth-child(6n)) {
    margin-right: 30px;
  }
}

.client__link {
  border-radius: 4px;
  border: 1px solid;
  border-color: #afb1b8;
  fill: #afb1b8;
  transition-property: border-collor, fill;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.client__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin: 0 auto;
}

.client__icon {
  width: 90px;
  height: 90px;
  fill: inherit;
}

.client__label {
  display: none;
  margin: 30px auto 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.client__description {
  display: none;
  margin: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (max-width: 479px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 1600px;
    padding: 94px 215px;
  }
}

.grid--filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button__hero, .button__portfolio--filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  transition-property: box-shadow;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero:hover, .button__portfolio--filter:hover {
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.client__link, .link__header, .header__navigation__link, .link__portfolio, .link, .link_social {
  text-decoration: none;
  color: inherit;
}

.client__link:visited, .link__header:visited, .header__navigation__link:visited, .link__portfolio:visited, .link:visited, .link_social:visited {
  text-decoration: none;
  color: inherit;
}

.client__link:hover, .link__header:hover, .header__navigation__link:hover, .link__portfolio:hover, .link:hover, .link_social:hover, .current.client__link, .current.link__header, .current.header__navigation__link, .current.link__portfolio, .current.link, .current.link_social {
  text-decoration: none;
  color: #2196f3;
}

.team {
  background-color: #f5f4fa;
}

.grid__item--team {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .grid__item--team {
    width: 100%;
  }
  .grid__item--team:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .grid__item--team {
    width: calc((100% - 1 * 30px) / 2);
  }
  .grid__item--team:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .grid__item--team:nth-child(-n + 2) {
    margin-bottom: calc(30px);
  }
}

@media (min-width: 1600px) {
  .grid__item--team {
    width: calc((100% - 3 * 30px) / 4);
    margin-bottom: 0px;
  }
  .grid__item--team:not(:nth-child(4n)) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.team__member__socials {
  width: 100%;
  padding: 0px 30px 30px;
}

.team-social {
  fill: #afb1b8;
}

.team__member__pict {
  margin-bottom: 30px;
}

.member-name {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.member-position {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (max-width: 479px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 1600px;
    padding: 94px 215px;
  }
}

.grid--filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button__hero, .button__portfolio--filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  transition-property: box-shadow;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero:hover, .button__portfolio--filter:hover {
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.client__link, .link__header, .header__navigation__link, .link__portfolio, .link, .link_social {
  text-decoration: none;
  color: inherit;
}

.client__link:visited, .link__header:visited, .header__navigation__link:visited, .link__portfolio:visited, .link:visited, .link_social:visited {
  text-decoration: none;
  color: inherit;
}

.client__link:hover, .link__header:hover, .header__navigation__link:hover, .link__portfolio:hover, .link:hover, .link_social:hover, .current.client__link, .current.link__header, .current.header__navigation__link, .current.link__portfolio, .current.link, .current.link_social {
  text-decoration: none;
  color: #2196f3;
}

@media (max-width: 479px) {
  .directions {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .directions {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .directions {
    display: flex;
  }
}

@media (min-width: 1600px) {
  .directions {
    display: flex;
  }
}

.container__directions {
  padding-top: 0px;
}

.grid__item--directions {
  position: relative;
  height: 294px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid__item--directions:nth-child(1) {
  background-image: url(../images/studio/directions/DsktopApps.jpg);
}

.grid__item--directions:nth-child(2) {
  background-image: url(../images/studio/directions/MobileApps.jpg);
}

.grid__item--directions:nth-child(3) {
  background-image: url(../images/studio/directions/DesignSolutions.jpg);
}

@media (min-width: 480px) and (max-width: 767px) {
  .grid__item--directions {
    width: 100%;
  }
  .grid__item--directions:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .grid__item--directions {
    width: calc((100% - 2 * 30px) / 3);
    margin-bottom: 0px;
  }
  .grid__item--directions:not(:nth-child(3n)) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1600px) {
  .grid__item--directions {
    width: calc((100% - 2 * 30px) / 3);
    margin-bottom: 0px;
  }
  .grid__item--directions:not(:nth-child(3n)) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.direction__label {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (max-width: 479px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 1600px;
    padding: 94px 215px;
  }
}

.grid--filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button__hero, .button__portfolio--filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  transition-property: box-shadow;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero:hover, .button__portfolio--filter:hover {
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.client__link, .link__header, .header__navigation__link, .link__portfolio, .link, .link_social {
  text-decoration: none;
  color: inherit;
}

.client__link:visited, .link__header:visited, .header__navigation__link:visited, .link__portfolio:visited, .link:visited, .link_social:visited {
  text-decoration: none;
  color: inherit;
}

.client__link:hover, .link__header:hover, .header__navigation__link:hover, .link__portfolio:hover, .link:hover, .link_social:hover, .current.client__link, .current.link__header, .current.header__navigation__link, .current.link__portfolio, .current.link, .current.link_social {
  text-decoration: none;
  color: #2196f3;
}

@media (min-width: 480px) and (max-width: 767px) {
  .features {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .features {
    display: flex;
  }
}

@media (min-width: 1600px) {
  .features {
    display: flex;
  }
}

.grid__item--feature {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 480px) and (max-width: 767px) {
  .grid__item--feature {
    width: 100%;
  }
  .grid__item--feature:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .grid__item--feature {
    width: calc((100% - 1 * 30px) / 2);
  }
  .grid__item--feature:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .grid__item--feature:nth-child(-n + 2) {
    margin-bottom: calc(30px);
  }
}

@media (min-width: 1600px) {
  .grid__item--feature {
    width: calc((100% - 3 * 30px) / 4);
    margin-bottom: 0px;
  }
  .grid__item--feature:not(:nth-child(4n)) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.feature__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin: 0 auto 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__label {
  display: block;
  margin: 0 auto 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.feature__description {
  margin: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (max-width: 479px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 1600px;
    padding: 94px 215px;
  }
}

.grid--filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button__hero, .button__portfolio--filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  transition-property: box-shadow;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero:hover, .button__portfolio--filter:hover {
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.client__link, .link__header, .header__navigation__link, .link__portfolio, .link, .link_social {
  text-decoration: none;
  color: inherit;
}

.client__link:visited, .link__header:visited, .header__navigation__link:visited, .link__portfolio:visited, .link:visited, .link_social:visited {
  text-decoration: none;
  color: inherit;
}

.client__link:hover, .link__header:hover, .header__navigation__link:hover, .link__portfolio:hover, .link:hover, .link_social:hover, .current.client__link, .current.link__header, .current.header__navigation__link, .current.link__portfolio, .current.link, .current.link_social {
  text-decoration: none;
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
}

.container__hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/studio/hero/header_mobile.jpg");
  background-color: #2f303a;
}

@media (max-width: 479px) {
  .container__hero {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/studio/hero/header_mobile.jpg");
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__hero {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/studio/hero/header_mobile.jpg");
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__hero {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/studio/hero/header_tablet.jpg");
  }
}

@media (min-width: 1600px) {
  .container__hero {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/studio/hero/header_desktop.jpg");
  }
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (max-width: 479px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 1600px;
    padding: 94px 215px;
  }
}

.grid--filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button__hero, .button__portfolio--filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  transition-property: box-shadow;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero:hover, .button__portfolio--filter:hover {
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.client__link, .link__header, .header__navigation__link, .link__portfolio, .link, .link_social {
  text-decoration: none;
  color: inherit;
}

.client__link:visited, .link__header:visited, .header__navigation__link:visited, .link__portfolio:visited, .link:visited, .link_social:visited {
  text-decoration: none;
  color: inherit;
}

.client__link:hover, .link__header:hover, .header__navigation__link:hover, .link__portfolio:hover, .link:hover, .link_social:hover, .current.client__link, .current.link__header, .current.header__navigation__link, .current.link__portfolio, .current.link, .current.link_social {
  text-decoration: none;
  color: #2196f3;
}

.header {
  min-width: calc(320px - 1rem);
  width: 100%;
  background-color: lightgrey;
}

@media (max-width: 479px) {
  .header {
    width: calc(100% - 16px);
    position: fixed;
    top: 0.5rem;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header {
    width: calc(100% - 16px);
    position: fixed;
    top: 0.5rem;
  }
}

.container__header {
  min-width: calc(320px - 1rem);
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 80px;
  background-color: pink;
}

@media (max-width: 479px) {
  .container__header {
    width: 100%;
    padding: 0px 1rem;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__header {
    width: 480px;
    padding: 0px 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__header {
    width: 768px;
    padding: 0px 15px;
  }
}

@media (min-width: 1600px) {
  .container__header {
    width: 1600px;
    padding: 0px 215px;
  }
}

.container--logo {
  height: 100%;
}

.logo--header {
  height: 100%;
  flex-grow: 0;
}

.link__header {
  height: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.header__nav {
  outline: 1px solid green;
  background-color: lightgreen;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.header__contacts {
  display: flex;
  background-color: lightblue;
  flex-grow: 0;
  height: 100%;
  width: fit-content;
}

.menu {
  display: flex;
  outline: 1px solid tomato;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}

@media (max-width: 479px) {
  .menu {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media (max-width: 479px) {
  .menu--mobile {
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
    display: block;
    margin-left: -1rem;
    width: 100%;
    outline: 1px solid tomato;
    padding: 60px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .menu--mobile {
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
    display: block;
    margin-left: -1rem;
    width: 100%;
    outline: 1px solid tomato;
    padding: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .menu--mobile {
    display: none;
  }
}

@media (min-width: 1600px) {
  .menu--mobile {
    display: none;
  }
}

.header_navigation {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: lightgreen;
  padding: 0px 0px;
}

@media (max-width: 479px) {
  .header_navigation {
    flex-direction: column;
    width: 100%;
    padding-bottom: 60px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header_navigation {
    flex-direction: column;
    width: 100%;
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .header_navigation {
    padding-left: 88px;
  }
}

@media (min-width: 1600px) {
  .header_navigation {
    padding-left: 93px;
  }
}

.header__navigation__link {
  position: relative;
  outline: 1px solid tomato;
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header__navigation__link.current::after, .header__navigation__link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  transition-property: background-color;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation__link.current::after, .header__navigation__link:hover::after {
  background-color: #2196f3;
}

@media (max-width: 479px) {
  .header__navigation__link {
    font-size: 18px;
    line-height: 21px;
    /* 21px identical to box height */
  }
  .header__navigation__link:not(:last-child) {
    margin-bottom: 52px;
  }
  .header__navigation__link.current::after, .header__navigation__link::after {
    content: "";
    bottom: -0.75rem;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header__navigation__link {
    font-size: 18px;
    line-height: 21px;
  }
  .header__navigation__link:not(:last-child) {
    margin-bottom: 52px;
  }
  .header__navigation__link.current::after, .header__navigation__link::after {
    content: "";
    bottom: -0.75rem;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .header__navigation__link {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .header__navigation__link:not(:last-child) {
    margin-right: 50px;
  }
}

@media (min-width: 1600px) {
  .header__navigation__link {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .header__navigation__link:not(:last-child) {
    margin-right: 50px;
  }
}

.ch2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  height: 100%;
  padding: 0px 10px;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0);
  border-radius: 4px;
  transition-property: box-shadow;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 30px;
  text-decoration: none;
  color: #2196f3;
  background-color: transparent;
}

.logo:visited {
  color: inherit;
  text-decoration: inherit;
}

.logo:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.logo__text {
  margin: 0px;
  padding: 0px;
  line-height: 30px;
  font-size: 26px;
  line-height: 31px;
}

.text--blue {
  color: #2196f3;
}

.text--dark {
  color: #212121;
}

.text--light {
  color: #ffffff;
}

.text--invisible {
  color: transparent;
}

.logo--footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-right: 93px;
}

.container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (max-width: 479px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 1600px;
    padding: 94px 215px;
  }
}

.grid--filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button__hero, .button__portfolio--filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  transition-property: box-shadow;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero:hover, .button__portfolio--filter:hover {
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.client__link, .link__header, .header__navigation__link, .link__portfolio, .link, .link_social {
  text-decoration: none;
  color: inherit;
}

.client__link:visited, .link__header:visited, .header__navigation__link:visited, .link__portfolio:visited, .link:visited, .link_social:visited {
  text-decoration: none;
  color: inherit;
}

.client__link:hover, .link__header:hover, .header__navigation__link:hover, .link__portfolio:hover, .link:hover, .link_social:hover, .current.client__link, .current.link__header, .current.header__navigation__link, .current.link__portfolio, .current.link, .current.link_social {
  text-decoration: none;
  color: #2196f3;
}

.footer {
  background-color: lightgrey;
}

.container__footer {
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: pink;
}

@media (max-width: 479px) {
  .container__footer {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__footer {
    width: 480px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__footer {
    width: 768px;
    padding: 21px 15px;
  }
}

@media (min-width: 1600px) {
  .container__footer {
    width: 1600px;
    padding: 24px 215px;
  }
}

/* fonts to use */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (max-width: 479px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 100%;
    padding: 60px 15px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 768px;
    padding: 60px 15px;
  }
}

@media (min-width: 1600px) {
  .container__clients, .container__team, .container__directions, .container__features, .container__portfolio {
    width: 1600px;
    padding: 94px 215px;
  }
}

.grid--filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button__hero, .button__portfolio--filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  transition-property: box-shadow;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero:hover, .button__portfolio--filter:hover {
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.client__link, .link__header, .header__navigation__link, .link__portfolio, .link, .link_social {
  text-decoration: none;
  color: inherit;
}

.client__link:visited, .link__header:visited, .header__navigation__link:visited, .link__portfolio:visited, .link:visited, .link_social:visited {
  text-decoration: none;
  color: inherit;
}

.client__link:hover, .link__header:hover, .header__navigation__link:hover, .link__portfolio:hover, .link:hover, .link_social:hover, .current.client__link, .current.link__header, .current.header__navigation__link, .current.link__portfolio, .current.link, .current.link_social {
  text-decoration: none;
  color: #2196f3;
}

.portfolio {
  width: 100%;
  background-color: #fff;
}

.grid--filters {
  justify-content: center;
}

@media (min-width: 480px) and (max-width: 767px) {
  .grid--filters {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .grid--filters {
    margin-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .grid--filters {
    margin-bottom: 50px;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.button__portfolio--filter {
  width: auto;
  padding-left: 22px;
  padding-right: 22px;
}

.grid--galery {
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .grid--galery {
    justify-content: flex-start;
  }
}

@media (min-width: 1600px) {
  .grid--galery {
    justify-content: flex-start;
  }
}

.grid__item--galery {
  position: relative;
  overflow: hidden;
  height: 404px;
}

@media (max-width: 479px) {
  .grid__item--galery {
    width: 100%;
    margin: 0px;
  }
  .grid__item--galery:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .grid__item--galery {
    max-width: 450px;
    width: 100%;
    margin: 0px auto;
  }
  .grid__item--galery:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .grid__item--galery {
    width: calc((100% - 1 * 30px) / 2);
    margin-bottom: 30px;
  }
  .grid__item--galery:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .grid__item--galery:nth-child(-n + 8) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .grid__item--galery {
    width: calc((100% - 2 * 30px) / 3);
    margin-bottom: 0px;
  }
  .grid__item--galery:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .grid__item--galery:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
}

.item__description__container {
  /* height: 110px; */
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 0px;
  left: 0px;
  padding: 20px 24px;
  background-color: #ffffff;
  border: none;
}

.item__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}

.item__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 187%;
  /* identical to box height, or 30px */
  letter-spacing: 0.03em;
  color: #757575;
}

.galery__item__overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  transform: translatey(100%);
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__item--galery:hover .galery__item__overlay {
  transform: translatey(0);
}

.item__overlay__text {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* ================================== */
.grid__item--galery:nth-child(1) {
  background-image: url("../images/portfolio/Technokryak.jpg");
}

.grid__item--galery:nth-child(2) {
  background-image: url("../images/portfolio/NewOrlean-vs-GoldenStar.jpg");
}

.grid__item--galery:nth-child(3) {
  background-image: url("../images/portfolio/Seafood.jpg");
}

.grid__item--galery:nth-child(4) {
  background-image: url("../images/portfolio/Project-Prime.jpg");
}

.grid__item--galery:nth-child(5) {
  background-image: url("../images/portfolio/Project-Boxes.jpg");
}

.grid__item--galery:nth-child(6) {
  background-image: url("../images/portfolio/Inspiration-has-no-Borders.jpg");
}

.grid__item--galery:nth-child(7) {
  background-image: url("../images/portfolio/Limited-Edition.jpg");
}

.grid__item--galery:nth-child(8) {
  background-image: url("../images/portfolio/Project-LAB.jpg");
}

.grid__item--galery:nth-child(9) {
  background-image: url("../images/portfolio/Growing-Business.jpg");
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #555555;
}

h1 {
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-bottom: 40px;
  font-weight: 900;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 42px;
  /* or 162% */
  color: #ffffff;
}

@media (max-width: 479px) {
  h1 {
    min-width: 300px;
    font-size: 20px;
    line-height: 162%;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  h1 {
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section_title {
  margin: 0px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media (min-width: 480px) and (max-width: 767px) {
  .section_title {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .section_title {
    margin-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .section_title {
    margin-bottom: 50px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list_item {
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.list_item--socials:not(:last-child) {
  margin-right: 10px;
}

.link_social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.link_social:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.grid__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  outline: 1px solid red;
}

.button__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  /* identical to box height, line-height: 30px; */
  text-align: center;
  letter-spacing: 0.06em;
  color: currentColor;
}
/*# sourceMappingURL=common.css.map */