.header-section {
  /* width: 1600px; */
  font-family: Roboto;
  font-style: normal;
  background: lightgrey;
}
.header-wrap {
  width: 1600px;
  /* height: 80px; */
  margin: auto;
  padding: 24px 215px 0px;
  background: pink;
}
.header-section .logo {
  display: inline-block;
  margin-right: 93px;
  padding-bottom: 25px;
}
.header-item {
  display: inline-flex;
  /* margin-right: auto; */
}
.header-item:not(:last-child) {
  margin-right: auto;
}
.navigation {
  margin-right: auto;
}
.nav-link {
  display: inline-flex;
  padding: 8px 0px 32px;
  color: var(--text-dark);
  border: 2px solid red;
}
.nav-link:not(:last-child) {
  margin-right: 50px;
}
.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: var(--text-dark);
}
.nav-link .text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--text-dark);
}
.contacts-link {
  display: inline-flex;
  padding: 8px 0px 32px;
  color: var(--text-dark);
  border: 2px solid red;
}
