/* fonts */
/* fonts to use */
@import "../sass/utils/fonts";
@import "../sass/utils/variables";
@import "../sass/utils/mixins";

@import "../sass/components/logo";
@import "../sass/components/header";
@import "../sass/components/footer";
@import "../sass/components/modal";
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* =====global colors===== */
:root {
  // --active-1: #2196f3;
  // --active-2: #ffffff;
  --icon-header: #757575;
  --icon-team: #afb1b8;
  --icon-clients: #afb1b8;
  --icon-footer: #ffffff;

  --text-dark: #212121;
  --text-grey: #757575;
  --text-light: #ffffff;
  --text-transp: rgba(255, 255, 255, 0.6);

  --baner-underlay: #2f303a;
  --header-background: #fff;
  --portfolio-background: #fff;

  --transition-duration: 500ms;
}
/* ===== Utility classes ===== */
.is-hidden {
  opacity: 0;
  visibility: hidden;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
}
/* =====icons default colors===== */

.team-icon {
  transition-property: fill;
  transition: $transition-common;
  fill: $color_icon_team;
}
.team-icon {
  transition-property: fill;
  transition: $transition-common;
  fill: var(--icon-clients);
}
.clients-icon {
  transition-property: fill;
  transition: var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--icon-clients);
}
.footer-icon {
  transition-property: fill;
  transition: $transition-common;
  fill: var(--icon-footer);
}

/* main components styles */
.h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  line-height: 136%;
}
.h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.03em;
}
.h3 {
  margin: 0px;
}
.list {
  @include CenteredFlex();
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  color: inherit;
}
.list_item {
  display: block;
  list-style: none;
  color: inherit;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.link {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
    text-decoration: none;
  }
  &:hover,
  &.current {
    color: $color_active-1;
    fill: $color_active-1;
  }
}
.button {
  position: relative;
  @include CenteredFlex();
  width: $width_button;
  height: $height_button;
  border-color: $color_active-1;
  background-color: $color_active-1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: all;
  transition: $transition-common;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  line-height: 30px;

  color: $color_text-light;
  &:hover {
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
  }
}

.input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: $color_text-dark;
  fill: $color_text-dark;
  transition-property: border-color, fill;
  transition: $transition-common;
  &:hover,
  &:focus {
    fill: $color_active-1;
    border-color: $color_active-1;
  }
  &:active,
  &:focus {
    outline-color: $color_active-1;
  }
}

/* ====social links & icons====== */
.socials {
  // .social-list
  @include CenteredFlex();
  width: 206px;
  // height: 44px;
  margin: 0px auto;
  padding: 0px;
  background-color: transparent;
  /* border: 1px solid red; */
}
.socials_item {
  // .social-list-item
  list-style: none;
  width: 44px;
  height: 44px;
  padding: 0px;
}
.socials_item:not(:last-child) {
  // .social-list-item
  margin-right: 10px;
}
.socials_link {
  // .social-link
  @include CenteredFlex();
  // display: flex;
  width: 100%;
  height: 100%;
  // justify-content: center;
  // align-items: center;
  background-color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition-property: all;
  transition: $transition-common;

  &:active,
  &:focus,
  &:hover {
    background-color: $color_active-1;
  }
  &:active .social-icon,
  &:focus .social-icon,
  &:hover .social-icon {
    fill: $color_active-2;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
}
/* ====== header decoration ====== */
