@import "../sass/utils/fonts";
@import "../sass/utils/variables";
@import "../sass/components/hero";
/* ===== Hero section ====== */
/* ======= Features section decoration ======= */
.features {
  display: block;
  background-color: transparent;
}

.features > .container {
  display: block;
  width: 1600px;
  /* height: 450px; */
  margin: auto;
  padding: 94px 215px;
  font-family: Roboto;
  font-style: normal;
  background-color: transparent;
  /* border: 1px solid red; */
}

.features .h2 {
  /* display: block; */
  display: none;
  margin: 0 auto 50px;
  text-align: center;
  color: var(--text-dark);
}
.features-list {
  display: block;
  width: 100%;
  height: 251px;
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  background-color: transparent;
  justify-items: center;
  /* border: 1px solid red; */
}
.features-list-item {
  display: inline-block;
  width: 270px;
  height: 251px;
  /* vertical-align: bottom; */
  list-style: none;
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-img-wrap {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background: #f5f4fa;
  border-radius: 4px;
}
.features-list .h3 {
  margin: 0px 0px 10px;
  /* font-family: Roboto; */
  /* font-style: normal; */
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-dark);
}
.features-list .p {
  margin: 0px;
  /* font-family: Roboto; */
  /* font-style: normal; */
  font-weight: normal;
  font-size: 14px;
  line-height: 24px; /* or 171% */

  letter-spacing: 0.03em;

  color: var(--text-grey);
}

.features-icon {
  display: flex;
  margin: auto;
  height: 60%;
  width: 60%;
}

/* ======= Directions decoration ====== */

.directions {
  display: block;

  background-color: white;
}
.directions > .container {
  display: block;
  width: 1600px;
  /* height: 400px; */
  margin: auto;
  padding: 0px 215px 94px;
  font-family: Roboto;
  font-style: normal;
  background-color: transparent;
  /* border: 1px solid red; */
}
.directions .h2 {
  display: block;
  margin: 0 auto 50px;
  text-align: center;
  color: #212121;
}
.directions-list {
  display: block;
  /* width: 100%; */
  /* height: 90px; */
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  background-color: transparent;
  justify-items: center;
  /* border: 1px solid red; */
}
.directions-list-item {
  display: inline-flex;
  width: 370px;
  height: 294px;
  /* vertical-align: bottom; */
  list-style: none;
}
.directions-list-item:not(:last-child) {
  margin-right: 30px;
}
.DesktopApp {
  background-image: url(../images/studio/directions/DsktopApps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.MobileApp {
  background-image: url(../images/studio/directions/MobileApps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.DesSol {
  background-image: url(../images/studio/directions/DesignSolutions.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.directions-list .h3 {
  display: flex;
  height: 70px;
  width: 370px;
  margin: 0px;
  margin-top: auto;
  /* vertical-align: bottom; */
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  /* border: 1px solid red; */
  background-color: rgba(47, 48, 58, 0.8);
}

/* ====Team links & icons====== */
/* our team */
.team {
  display: block;
  /* padding-top: 94px;
  padding-bottom: 94px; */
  /* height: 370px; */
  background-color: #f5f4fa;
}

.team > .container {
  background-color: transparent;
  /* border: 2px solid green; */
  width: 1600px;
  /* height: 182px; */
  margin: auto;
  padding: 94px 215px;
  font-family: Roboto;
  font-style: normal;
}

.team .h2 {
  margin: 0 auto 50px;
  text-align: center;
  color: #212121;
}
.team-list {
  display: block;
  width: 1170px;
  /* height: 90px; */
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  background-color: transparent;
  justify-items: center;
}
.team-list-item-wrapper {
  display: inline-block;
  list-style: none;
  width: 270px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 30px;
  justify-items: center;
  font-size: 0px;
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item-wrapper:not(:last-child) {
  margin-right: 30px;
}
.team-list-item {
  list-style: none;
  padding: 0px;
  padding-bottom: 16px;
  margin: 0px;
  display: block;
  width: 270px;
}
.team-list-item-image {
  width: 100%;
  margin: 0 0 30px;
}
.team-list .h3 {
  margin: 0 auto 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-list .position {
  margin: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team-list-image-caption {
  /* display: flex; */
  justify-items: center;
}
/* ====clients links & icons====== */
/* permanent clients/customers */
.clients {
  display: block;
  height: 370px;
  background-color: white;
}
.clients > .container {
  background-color: transparent;
  /* border: 2px solid red; */
  width: 1600px;
  padding: 94px 215px;
  /* height: 182px; */
  margin: auto;
}
.clients .h2 {
  margin: 0 auto 50px;
  text-align: center;
  color: #212121;
}

.clients-list {
  display: flex;
  width: 1170px;
  height: 90px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
.clients-list-item {
  list-style: none;
  width: 170px;
  height: 90px;
  padding: 0px;
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  fill: var(--icon-clients);
  border: 1px solid var(--icon-clients);
  border-radius: 4px;
  text-decoration: none;
  transition-property: border-color, fill;
  transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:active,
.clients-link:focus,
.clients-link:hover {
  border-color: $color_active-1;
  fill: $color_active-1;
}

.clients-icon {
  height: 66%;
  fill: inherit;
}
