@import "/sass/utils/variables";

.button {
  position: relative;
  width: 200px;
  height: 50px;
  border-color: var(--active-1);
  background-color: var(--active-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: box-shadow;
  transition: var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-light);

  :hover {
    background-color: var(--active-1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  }
}
