/* ====== footer decoration ======= */
.footer {
  display: block;
  /* padding-top: 94px;
  padding-bottom: 94px; */
  /* height: 370px; */
  background-color: #2f303a;
}
.footer > .container {
  display: flex;
  /* background-color: darkgrey; */
  /* border: 1px solid green; */
  width: 1600px;
  /* height: 252px; */
  margin: auto;
  padding: 60px 215px;
  font-family: Roboto;
  font-style: normal;
}
.footer-item {
  display: inline-block;
}
.footer-addr-container {
  margin-right: 70px;

  font-size: 0px;
  /* border: 1px solid green; */
}

.footer-addr {
  padding: 0px;
  margin: 0px;
}
.addr-item {
  text-decoration: none;
  list-style-type: none;
  font-size: 0px;
}

.addr-item:not(:last-child) {
  margin-bottom: 9px;
}
.addr-item:first-child {
  margin-bottom: 30px;
}

/* .footer .logo{
  margin-bottom
} */

.footer-link,
.footer-link:visited {
  text-decoration: none;
}
.footer-link .addr-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color, fill;
  transition: var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:active .addr-text,
.footer-link:focus .addr-text,
.footer-link:hover .addr-text {
  color: $color_active-1;
}

.footer-social {
  margin-right: auto;
  padding-top: 12px;
}
.footer-item.subscribe {
  margin: 0px;
  padding-top: 12px;
}
.footer .h3 {
  display: block;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-light);
}
.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-input-wrap {
  display: inline-flex;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* box-sizing: border-box; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-item.subscribe .container {
  display: flex;
  flex-wrap: wrap;
  max-width: 570px;
}
.footer .input {
  display: inline-block;
  width: 358px;
  margin-right: 12px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--text-light);
}
.footer .input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer .button {
  display: inline-block;
  width: 200px;
}
.footer .button .container {
  display: flex;
  width: 100%;
  /* height: 100%; */
  align-items: center;
  justify-content: center;
}

.button .icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: inherit;
}
