/* Header decoration */

.header {
  background-color: $color_header-background;
}

.header_container {
  // .header > .container
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 1600px;
  margin: auto;
  padding: 24px 215px;
  /* outline: 1px solid royalblue; */
}

.header_navigation {
  @include CenteredFlex();
  margin-right: auto;
  font-size: 0px;
  color: $color_text-dark;
}

.list_item--nav:not(:last-child) {
  margin-right: 50px;
}

.header .contacts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  margin-right: 0px;
  font-size: 0px;
}

.header .contacts .list_item:not(:last-child) {
  margin-right: 30px;
}

.navigation_link {
  position: relative;
  color: $color_text-dark;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: calc(100% + 28px);
    left: 0px;
    // width: 100%;
    line-height: 4px;
    border-radius: 2px;
    background-color: transparent;
    transition-property: all;
    transition: $transition-common;
  }
  &:hover::after,
  &.current::after {
    content: "";
    position: absolute;
    top: calc(100% + 28px);
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: $color_active-1;
    border-radius: 2px;
  }
}
.contacts_list {
  justify-content: end;
}
.contacts_link {
  // @include CenteredFlex();
  color: $color_text-grey;
  fill: $color_text-grey;
  &:hover,
  &.current {
    color: $color_active-1;
    fill: $color_active-1;
  }
}
.header .link .text {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  vertical-align: inherit;
  color: inherit;
}
.header .icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: inherit;
  fill: inherit;
}
