// @import "../sass/utils/fonts";
// @import "../sass/utils/variables";

/* ===== Hero section ====== */
.hero {
  background-color: $color_hero-background;
  font-family: Roboto;
  font-style: normal;

  .container {
    width: $width_desktop;
    height: 600px;
    margin: auto;
    background-color: $color_hero-underlay;
  }

  .hero-h1 {
    width: 696px;
    margin: 0px auto 30px;
    color: $color_text-light;
  }
}
.baner-overlay {
  height: 100%;
  padding: 200px 0px;
  background-image: url("../images/studio/hero/hero.jpg");

  background-color: var(--baner-overlay);
  justify-content: center;
}
.hero_button {
  margin-left: auto;
  margin-right: auto;
}
