@import "../utils/variables";
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.logo {
  height: 30px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  font-size: 0px;
  text-decoration: none;
  color: $color_active-1;
  &:visited {
    color: inherit;
    text-decoration: inherit;
  }
}
.logo__text {
  line-height: 30px;
  font-size: 26px;
  line-height: 31px;
}

.text--blue {
  color: $color_active-1;
}
.text--dark {
  color: $color_text-dark;
}
.text--light {
  color: $color_text-light;
}

.logo--header {
  // .header .logo
  @include CenteredFlex();
  margin-right: 93px;
}
.logo--footer {
  // .header .logo
  @include CenteredFlex();
  margin-right: 93px;
}
