$color_active-1: #2196f3;
$color_active-2: #ffffff;
$color_icon_header: #757575;
$color_icon_team: #afb1b8;
$color_icon_clients: #afb1b8;
$color_icon_footer: #ffffff;

$color_text-dark: #212121;
$color_text-grey: #757575;
$color_text-light: #ffffff;
$color_text-transp: rgba(255, 255, 255, 0.6);

$color_header-background: white;
$color_hero-background: white;
$color_hero-underlay: #2f303a;
$color_team-background: #f5f4fa;
$color_footer-background: #2f303a;
$color_portfolio-background: #fff;

$height_button: 50px;

$width_desktop: 1600px;
$width_button: 200px;

$duration_transition: 2s;
$transition-common: var($duration_transition) cubic-bezier(0.4, 0, 0.2, 1);
